<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="../js/script.js"></script>
    <title>Robotics</title>
</head>

<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
    <a href="aboutus.html" class="active">About Us</a>
    <a href="progress.html">Progress</a>
    <a href="gallery.html">Sponsors</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleTopNav()">&#9776;</a>
</div>

<body>
    <br><br>
    <center>
      <div class="textBox" style="height: 300px;">
          <h3 class="title" style="font-size: 40px; text-align: center">About Us</h3>
          <p id="aboutusText" style="text-align: center; margin-left: -20px;">
            The David Suzuki SS VEX Robotics Club is a group of students working together<br>to participate in the VEX Robotics Competition,
            taking place on February 2nd, 2019 for the current season. Team Grizzlybotics 99623 strives to educate and help upcoming 
            engineering students to practice and learn the design process. Our club first competed in VEX in 2016 and has competed every
            year since then, making it to Provincials in 2018.
          </p>
      </div>
    </center>
</body>
</html>
