<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="../js/script.js"></script>
    <title>Robotics</title>
</head>

<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
    <a href="aboutus.html">About Us</a>
    <a href="progress.html">Progress</a>
    <a href="gallery.html" class="active">Sponsors</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleTopNav()">&#9776;</a>
</div>

<body>
    <br><br>
    <center>
            <div class="textBox">
                <h3 class="title" style="font-size: 40px; text-align: center">Sponsors</h3>
          </div>
      
          </center>
</body>




</html>
