<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <script src="../js/script.js"></script>
    <title>Robotics</title>
</head>

<div class="topnav" id="myTopnav">
  <a href="index.html">Home</a>
    <a href="aboutus.html">About Us</a>
    <a href="progress.html" class="active">Progress</a>
    <a href="gallery.html">Sponsors</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="toggleTopNav()">&#9776;</a>
</div>

<body>
    <br><br>
    <center>
            <div class="textBox" style="height: 2020px;">
                <h3 class="title" style="font-size: 60px; text-align: center; ">Progress</h3>
                <!-- <h3 class="progressHeader">Day 1</h3> -->
                <img src="day1.jpg" class="progressPic"></img>
                <img src="day2.jpg" class="progressPic" style="margin-left: 60px;"></img>
                <!-- <h3 class="progressHeader" style="margin-top: 20px;">Day 2</h3> -->
                <br><br>
                <img src="3.jpg" class="progressPic"></img>
                <img src="4.jpg" class="progressPic" style="margin-left: 60px;"></img>
                <br><br>
                <img src="5.jpg" class="progressPic"></img>
                <img src="6.jpg" class="progressPic" style="margin-left: 60px;"></img>
                <br><br>
                <img src="7.jpg" class="progressPic"></img>
                <img src="8.jpg" class="progressPic" style="margin-left: 60px;"></img>
                <br><br>
                <img src="9.jpg" class="progressPic"></img>
                <img src="10.jpg" class="progressPic" style="margin-left: 60px;"></img>
                <br><br>
                <img src="11.jpg" class="progressPic"></img>
                <img src="12.jpg" class="progressPic" style="margin-left: 60px;"></img>
          </div>

          </center>
</body>




</html>
